﻿@{
    ViewBag.Title = "Home Page";
}

<div style="margin-left: 21%; margin-top: 4%;" id="animacijaBtns">
    <h2 style="margin-bottom: 7%;">Razni Načini Uspostave Kriptirane Komunikacije</h2>
    <button style="margin-left: 15%; margin-bottom: 3%;" class="btn btn-secondary btn-lg" onclick="startAnim(1)" id="animacija1btn">Jednostavna Uspostava</button> <br>
    <button style="margin-left: 15%; margin-bottom: 3%;" class="btn btn-secondary btn-lg" onclick="startAnim(2)" id="animacija2btn">Autentifikacija Poslužitelja</button> <br>
    <button id="autoStepBtn" style="margin-left: 15%; margin-bottom: 3%;" class="btn btn-secondary btn-lg" onclick="startAnim(3)" id="animacija3btn">Odvajanje Enkripcije Od Autentifikacije</button> <br>
    <button style="margin-left: 15%; margin-bottom: 3%;" class="btn btn-secondary btn-lg" onclick="startAnim(4)" id="animacija4btn">Obostrana Autentifikacija</button> <br>
</div>
<button class="btn btn-danger" style="display:none; margin-top: 1%; margin-left: 3%;" id="nazadBtn" onclick="location.reload();">Povratak</button>
<br>
<br>

<div style="margin-left: 24%;">

    <div id="animacija1" style="display:none;">
        <h3 style="margin-left: 15%;">Jednostavna Uspostava</h3> <br>
        <table>
            <tr>
                <td><img src="~/Content/ssl_icons/klijent.png" alt="Slika klijenta"></td>
                <td style="width: 240px;"><img src="~/Content/ssl_icons/oblačić.png" alt="Slika oblacic"></td>
                <td><img src="~/Content/ssl_icons/poslužitelj.png" alt="Slika posluzitelja"></td>
            </tr>
            <tr style="height: 220px;" id="1row0">
                <td></td>
                <td>
                </td>
                <td></td>
            </tr>
            <tr id="1row1" style="display:none; height: 220px;">
                <td style="max-width: 208px;"><b>Poruka kojom klijent započinje komunikaciju s poslužiteljem i javlja koje sigurnosne servise može koristiti</b></td>
                <td style="text-align: center;">
                    <span style='font-size:100px;'>&#10230;</span>
                    <div style="font-size: 25px;"><b>ClientHello</b></div>
                </td>
                <td></td>
            </tr>
            <tr id="1row2" style="display:none; height: 220px;">
                <td></td>
                <td style="text-align: center;">
                    <span style='font-size:100px;'>&#10229;</span>
                    <div style="font-size: 25px;"><b>ServerHello</b></div>
                </td>
                <td style="max-width: 208px;"><b>Poruka kojom poslužitelj obavještava klijenta s kojim sigurnosnim servisima će biti postignuta komunikacija</b></td>
            </tr>
            <tr id="1row3" style="display:none; height: 220px;">
                <td></td>
                <td style="text-align: center;">
                    <span style='font-size:100px;'>&#10229;</span>
                    <div style="font-size: 25px;"><b>ServerKeyExcgange</b></div>
                </td>
                <td style="max-width: 208px;"><b>Poruka kojom poslužitelj šalje kriptografske ključeve uz pomoć kojih će se odvijati kriptirana komunikacija</b></td>
            </tr>
            <tr id="1row4" style="display:none; height: 220px;">
                <td></td>
                <td style="text-align: center;">
                    <span style='font-size:100px;'>&#10229;</span>
                    <div style="font-size: 25px;"><b>ServerHelloDone</b></div>
                </td>
                <td style="max-width: 208px;"><b>Poruka kojom poslužitelj obavještava klijenta da su svi zahtjevi, potrebni za kriptiranu komunikaciju, poslani</b></td>
            </tr>
            <tr id="1row5" style="display:none; height: 220px;">
                <td style="max-width: 208px;"><b>Poruka kojom klijent šalje kriptografske ključeve uz pomoć kojih će se odvijati kriptirana komunikacija</b></td>
                <td style="text-align: center;">
                    <span style='font-size:100px;'>&#10230;</span>
                    <div style="font-size: 25px;"><b>ClientKeyExchange</b></div>
                </td>
                <td></td>
            </tr>
            <tr id="1row6" style="display:none; height: 220px;">
                <td style="max-width: 208px;"><b>Poruka koja obavještava o početku korištenja ugovorenih sigurnosnih servisa</b></td>
                <td style="text-align: center;">
                    <span style='font-size:100px;'>&#10230;</span>
                    <div style="font-size: 25px;"><b>ChangeCipherSpec</b></div>
                </td>
                <td></td>
            </tr>
            <tr id="1row7" style="display:none; height: 220px;">
                <td style="max-width: 208px;"><b>Poruka koja obavještava drugi sustav o uspješnom dogovoru i uspješno uspostavljenoj kriptiranoj komunikaciji</b></td>
                <td style="text-align: center;">
                    <span style='font-size:100px;'>&#10230;</span>
                    <div style="font-size: 25px;"><b>Finished</b></div>
                </td>
                <td></td>
            </tr>
            <tr id="1row8" style="display:none; height: 220px;">
                <td></td>
                <td style="text-align: center;">
                    <span style='font-size:100px;'>&#10229;</span>
                    <div style="font-size: 25px;"><b>ChangeCipherSpec</b></div>
                </td>
                <td style="max-width: 208px;"><b>Poruka koja obavještava o početku korištenja ugovorenih sigurnosnih servisa</b></td>
            </tr>
            <tr id="1row9" style="display:none; height: 220px;">
                <td></td>
                <td style="text-align: center;">
                    <span style='font-size:100px;'>&#10229;</span>
                    <div style="font-size: 25px;"><b>Finished</b></div>
                </td>
                <td style="max-width: 208px;"><b>Poruka koja obavještava drugi sustav o uspješnom dogovoru i uspješno uspostavljenoj kriptiranoj komunikaciji</b></td>
            </tr>
            <!-- <tr id="2row10" style="display:none; height: 220px;">
                <td></td>
                <td>
                    <img style="width: 300px; height: 300px;" src="C:\Users\Djuro\Desktop\uspostavaKomunikacije.png" alt="Slika svih koraka uspostave">
                </td>
                <td></td>
            </tr> -->
        </table>
        <img id="1row10" style="margin-left: 14%; display: none; width: 400px; height: 300px;" src="~/Content/ssl_icons/uspostavaKomunikacije.png" alt="Slika svih koraka uspostave">
        <div style="margin-left: 24%;">
            <button onclick="prevStep()"><i class="fas fa-caret-left fa-2x"></i></button>
            <button onclick="nextStep()"><i class="fas fa-caret-right fa-2x"></i></button>
            <button id="autoStepBtn1" onclick="autoSteps()"><i class="far fa-caret-square-right fa-2x"></i></button>
            <button onclick="stopAuto()"><i class="far fa-stop-circle fa-2x"></i></button>
        </div>
    </div>

    <!-- ------------------------------------------------------------- -->

    <div id="animacija2" style="display:none;">
        <h3 style="margin-left: 14%">Autentifikacija Poslužitelja</h3> <br>
        <table>
            <tr>
                <td><img src="~/Content/ssl_icons/klijent.png" alt="Slika klijenta"></td>
                <td style="width: 240px;"><img src="~/Content/ssl_icons/oblačić.png" alt="Slika oblacic"></td>
                <td><img src="~/Content/ssl_icons/poslužitelj.png" alt="Slika posluzitelja"></td>
            </tr>
            <tr style="height: 220px;" id="2row0">
                <td></td>
                <td>
                </td>
                <td></td>
            </tr>
            <tr id="2row1" style="display:none; height: 220px;">
                <td style="max-width: 208px;"><b>Poruka kojom klijent započinje komunikaciju s poslužiteljem i javlja koje sigurnosne servise može koristiti</b></td>
                <td style="text-align: center;">
                    <span style='font-size:100px;'>&#10230;</span>
                    <div style="font-size: 25px;"><b>ClientHello</b></div>
                </td>
                <td></td>
            </tr>
            <tr id="2row2" style="display:none; height: 220px;">
                <td></td>
                <td style="text-align: center;">
                    <span style='font-size:100px;'>&#10229;</span>
                    <div style="font-size: 25px;"><b>ServerHello</b></div>
                </td>
                <td style="max-width: 208px;"><b>Poruka kojom poslužitelj obavještava klijenta s kojim sigurnosnim servisima će biti postignuta komunikacija</b></td>
            </tr>
            <tr id="2row3" style="display:none; height: 220px;">
                <td></td>
                <td style="text-align: center;">
                    <span style='font-size:100px;'>&#10229;</span>
                    <div style="font-size: 25px;"><b>Certificate</b></div>
                </td>
                <td style="max-width: 208px;"><b>Poruka koja u sebi sadrži pošiljateljev certifikat s javnim ključem</b></td>
            </tr>
            <tr id="2row4" style="display:none; height: 220px;">
                <td></td>
                <td style="text-align: center;">
                    <span style='font-size:100px;'>&#10229;</span>
                    <div style="font-size: 25px;"><b>ServerHelloDone</b></div>
                </td>
                <td style="max-width: 208px;"><b>Poruka kojom poslužitelj obavještava klijenta da su svi zahtjevi, potrebni za kriptiranu komunikaciju, poslani</b></td>
            </tr>
            <tr id="2row5" style="display:none; height: 220px;">
                <td style="max-width: 208px;"><b>Poruka kojom klijent šalje kriptografske ključeve uz pomoć kojih će se odvijati kriptirana komunikacija</b></td>
                <td style="text-align: center;">
                    <span style='font-size:100px;'>&#10230;</span>
                    <div style="font-size: 25px;"><b>ClientKeyExchange</b></div>
                </td>
                <td></td>
            </tr>
            <tr id="2row6" style="display:none; height: 220px;">
                <td style="max-width: 208px;"><b>Poruka koja obavještava o početku korištenja ugovorenih sigurnosnih servisa</b></td>
                <td style="text-align: center;">
                    <span style='font-size:100px;'>&#10230;</span>
                    <div style="font-size: 25px;"><b>ChangeCipherSpec</b></div>
                </td>
                <td></td>
            </tr>
            <tr id="2row7" style="display:none; height: 220px;">
                <td style="max-width: 208px;"><b>Poruka koja obavještava drugi sustav o uspješnom dogovoru i uspješno uspostavljenoj kriptiranoj komunikaciji</b></td>
                <td style="text-align: center;">
                    <span style='font-size:100px;'>&#10230;</span>
                    <div style="font-size: 25px;"><b>Finished</b></div>
                </td>
                <td></td>
            </tr>
            <tr id="2row8" style="display:none; height: 220px;">
                <td></td>
                <td style="text-align: center;">
                    <span style='font-size:100px;'>&#10229;</span>
                    <div style="font-size: 25px;"><b>ChangeCipherSpec</b></div>
                </td>
                <td style="max-width: 208px;"><b>Poruka koja obavještava o početku korištenja ugovorenih sigurnosnih servisa</b></td>
            </tr>
            <tr id="2row9" style="display:none; height: 220px;">
                <td></td>
                <td style="text-align: center;">
                    <span style='font-size:100px;'>&#10229;</span>
                    <div style="font-size: 25px;"><b>Finished</b></div>
                </td>
                <td style="max-width: 208px;"><b>Poruka koja obavještava drugi sustav o uspješnom dogovoru i uspješno uspostavljenoj kriptiranoj komunikaciji</b></td>
            </tr>
            <!-- <tr id="2row10" style="display:none; height: 220px;">
                <td></td>
                <td>
                    <img style="width: 300px; height: 300px;" src="C:\Users\Djuro\Desktop\uspostavaKomunikacije.png" alt="Slika svih koraka uspostave">
                </td>
                <td></td>
            </tr> -->
        </table>
        <img id="2row10" style="margin-left: 14%; display: none; width: 400px; height: 300px;" src="~/Content/ssl_icons/serverAuth.png" alt="Slika svih koraka uspostave">
        <div style="margin-left: 24%;">
            <button onclick="prevStep()"><i class="fas fa-caret-left fa-2x"></i></button>
            <button onclick="nextStep()"><i class="fas fa-caret-right fa-2x"></i></button>
            <button id="autoStepBtn2" onclick="autoSteps()"><i class="far fa-caret-square-right fa-2x"></i></button>
            <button onclick="stopAuto()"><i class="far fa-stop-circle fa-2x"></i></button>
        </div>
    </div>


    <!-- ---------------------------------------------------------------- -->


    <div id="animacija3" style="display:none;">
        <h3 style="margin-left: 8%">Odvajanje autentifikacije i enkripcije</h3> <br>
        <table>
            <tr>
                <td><img src="~/Content/ssl_icons/klijent.png" alt="Slika klijenta"></td>
                <td style="width: 240px;"><img src="~/Content/ssl_icons/oblačić.png" alt="Slika oblacic"></td>
                <td><img src="~/Content/ssl_icons/poslužitelj.png" alt="Slika posluzitelja"></td>
            </tr>
            <tr style="height: 220px;" id="3row0">
                <td></td>
                <td>
                </td>
                <td></td>
            </tr>
            <tr id="3row1" style="display:none; height: 220px;">
                <td style="max-width: 208px;"><b>Poruka kojom klijent započinje komunikaciju s poslužiteljem i javlja koje sigurnosne servise može koristiti</b></td>
                <td style="text-align: center;">
                    <span style='font-size:100px;'>&#10230;</span>
                    <div style="font-size: 25px;"><b>ClientHello</b></div>
                </td>
                <td></td>
            </tr>
            <tr id="3row2" style="display:none; height: 220px;">
                <td></td>
                <td style="text-align: center;">
                    <span style='font-size:100px;'>&#10229;</span>
                    <div style="font-size: 25px;"><b>ServerHello</b></div>
                </td>
                <td style="max-width: 208px;"><b>Poruka kojom poslužitelj obavještava klijenta s kojim sigurnosnim servisima će biti postignuta komunikacija</b></td>
            </tr>
            <tr id="3row3" style="display:none; height: 220px;">
                <td></td>
                <td style="text-align: center;">
                    <span style='font-size:100px;'>&#10229;</span>
                    <div style="font-size: 25px;"><b>Certificate</b></div>
                </td>
                <td style="max-width: 208px;"><b>Poruka koja u sebi sadrži pošiljateljev certifikat s javnim ključem</b></td>
            </tr>
            <tr id="3row4" style="display:none; height: 220px;">
                <td></td>
                <td style="text-align: center;">
                    <span style='font-size:100px;'>&#10229;</span>
                    <div style="font-size: 25px;"><b>ServerKeyExchange</b></div>
                </td>
                <td style="max-width: 208px;"><b>Poruka kojom poslužitelj šalje kriptografske ključeve uz pomoć kojih će se odvijati kriptirana komunikacija</b></td>
            </tr>
            <tr id="3row5" style="display:none; height: 220px;">
                <td></td>
                <td style="text-align: center;">
                    <span style='font-size:100px;'>&#10229;</span>
                    <div style="font-size: 25px;"><b>ServerHelloDone</b></div>
                </td>
                <td style="max-width: 208px;"><b>Poruka kojom poslužitelj obavještava klijenta da su svi zahtjevi, potrebni za kriptiranu komunikaciju, poslani</b></td>
            </tr>
            <tr id="3row6" style="display:none; height: 220px;">
                <td style="max-width: 208px;"><b>Poruka kojom klijent šalje kriptografske ključeve uz pomoć kojih će se odvijati kriptirana komunikacija</b></td>
                <td style="text-align: center;">
                    <span style='font-size:100px;'>&#10230;</span>
                    <div style="font-size: 25px;"><b>ClientKeyExchange</b></div>
                </td>
                <td></td>
            </tr>
            <tr id="3row7" style="display:none; height: 220px;">
                <td style="max-width: 208px;"><b>Poruka koja obavještava o početku korištenja ugovorenih sigurnosnih servisa</b></td>
                <td style="text-align: center;">
                    <span style='font-size:100px;'>&#10230;</span>
                    <div style="font-size: 25px;"><b>ChangeCipherSpec</b></div>
                </td>
                <td></td>
            </tr>
            <tr id="3row8" style="display:none; height: 220px;">
                <td style="max-width: 208px;"><b>Poruka koja obavještava drugi sustav o uspješnom dogovoru i uspješno uspostavljenoj kriptiranoj komunikaciji</b></td>
                <td style="text-align: center;">
                    <span style='font-size:100px;'>&#10230;</span>
                    <div style="font-size: 25px;"><b>Finished</b></div>
                </td>
                <td></td>
            </tr>
            <tr id="3row9" style="display:none; height: 220px;">
                <td></td>
                <td style="text-align: center;">
                    <span style='font-size:100px;'>&#10229;</span>
                    <div style="font-size: 25px;"><b>ChangeCipherSpec</b></div>
                </td>
                <td style="max-width: 208px;"><b>Poruka koja obavještava o početku korištenja ugovorenih sigurnosnih servisa</b></td>
            </tr>
            <tr id="3row10" style="display:none; height: 220px;">
                <td></td>
                <td style="text-align: center;">
                    <span style='font-size:100px;'>&#10229;</span>
                    <div style="font-size: 25px;"><b>Finished</b></div>
                </td>
                <td style="max-width: 208px;"><b>Poruka koja obavještava drugi sustav o uspješnom dogovoru i uspješno uspostavljenoj kriptiranoj komunikaciji</b></td>
            </tr>
            <!-- <tr id="2row10" style="display:none; height: 220px;">
                <td></td>
                <td>
                    <img style="width: 300px; height: 300px;" src="C:\Users\Djuro\Desktop\uspostavaKomunikacije.png" alt="Slika svih koraka uspostave">
                </td>
                <td></td>
            </tr> -->
        </table>
        <img id="3row11" style="margin-left: 14%; display: none; width: 400px; height: 300px;" src="~/Content/ssl_icons/serverAuthSepa.png" alt="Slika svih koraka uspostave">
        <div style="margin-left: 24%;">
            <button onclick="prevStep()"><i class="fas fa-caret-left fa-2x"></i></button>
            <button onclick="nextStep()"><i class="fas fa-caret-right fa-2x"></i></button>
            <button id="autoStepBtn3" onclick="autoSteps()"><i class="far fa-caret-square-right fa-2x"></i></button>
            <button onclick="stopAuto()"><i class="far fa-stop-circle fa-2x"></i></button>
        </div>
    </div>

    <!-- -------------------------------------------------------------- -->


    <div id="animacija4" style="display:none;">
        <h3 style="margin-left: 15%;">Obostrana autentifikacija</h3> <br>
        <table>
            <tr>
                <td><img src="~/Content/ssl_icons/klijent.png" alt="Slika klijenta"></td>
                <td style="width: 240px;"><img src="~/Content/ssl_icons/oblačić.png" alt="Slika oblacic"></td>
                <td><img src="~/Content/ssl_icons/poslužitelj.png" alt="Slika posluzitelja"></td>
            </tr>
            <tr style="height: 220px;" id="4row0">
                <td></td>
                <td>
                </td>
                <td></td>
            </tr>
            <tr id="4row1" style="display:none; height: 220px;">
                <td style="max-width: 208px;"><b>Poruka kojom klijent započinje komunikaciju s poslužiteljem i javlja koje sigurnosne servise može koristiti</b></td>
                <td style="text-align: center;">
                    <span style='font-size:100px;'>&#10230;</span>
                    <div style="font-size: 25px;"><b>ClientHello</b></div>
                </td>
                <td></td>
            </tr>
            <tr id="4row2" style="display:none; height: 220px;">
                <td></td>
                <td style="text-align: center;">
                    <span style='font-size:100px;'>&#10229;</span>
                    <div style="font-size: 25px;"><b>ServerHello</b></div>
                </td>
                <td style="max-width: 208px;"><b>Poruka kojom poslužitelj obavještava klijenta s kojim sigurnosnim servisima će biti postignuta komunikacija</b></td>
            </tr>
            <tr id="4row3" style="display:none; height: 220px;">
                <td></td>
                <td style="text-align: center;">
                    <span style='font-size:100px;'>&#10229;</span>
                    <div style="font-size: 25px;"><b>Certificate</b></div>
                </td>
                <td style="max-width: 208px;"><b>Poruka koja u sebi sadrži pošiljateljev certifikat s javnim ključem</b></td>
            </tr>
            <tr id="4row4" style="display:none; height: 220px;">
                <td></td>
                <td style="text-align: center;">
                    <span style='font-size:100px;'>&#10229;</span>
                    <div style="font-size: 25px;"><b>CertificateRequest</b></div>
                </td>
                <td style="max-width: 208px;"><b>Poruka kojom poslužitelj klijentu šalje zahtjev za certifikat </b></td>
            </tr>
            <tr id="4row5" style="display:none; height: 220px;">
                <td></td>
                <td style="text-align: center;">
                    <span style='font-size:100px;'>&#10229;</span>
                    <div style="font-size: 25px;"><b>ServerHelloDone</b></div>
                </td>
                <td style="max-width: 208px;"><b>Poruka kojom poslužitelj obavještava klijenta da su svi zahtjevi, potrebni za kriptiranu komunikaciju, poslani</b></td>
            </tr>
            <tr id="4row6" style="display:none; height: 220px;">
                <td style="max-width: 208px;"><b>Poruka koja u sebi sadrži pošiljateljev certifikat s javnim ključem</b></td>
                <td style="text-align: center;">
                    <span style='font-size:100px;'>&#10230;</span>
                    <div style="font-size: 25px;"><b>Certificate</b></div>
                </td>
                <td></td>
            </tr>
            <tr id="4row7" style="display:none; height: 220px;">
                <td style="max-width: 208px;"><b>Poruka kojom klijent šalje kriptografske ključeve uz pomoć kojih će se odvijati kriptirana komunikacija</b></td>
                <td style="text-align: center;">
                    <span style='font-size:100px;'>&#10230;</span>
                    <div style="font-size: 25px;"><b>ClientKeyExchange</b></div>
                </td>
                <td></td>
            </tr>
            <tr id="4row8" style="display:none; height: 220px;">
                <td style="max-width: 208px;"><b>Poruka kojom klijent dokazuje poslužitelju da posjeduje privatni ključ koji odgovara javnom ključu certifikata</b></td>
                <td style="text-align: center;">
                    <span style='font-size:100px;'>&#10230;</span>
                    <div style="font-size: 25px;"><b>CertificateVerify</b></div>
                </td>
                <td></td>
            </tr>
            <tr id="4row9" style="display:none; height: 220px;">
                <td style="max-width: 208px;"><b>Poruka koja obavještava o početku korištenja ugovorenih sigurnosnih servisa</b></td>
                <td style="text-align: center;">
                    <span style='font-size:100px;'>&#10230;</span>
                    <div style="font-size: 25px;"><b>ChangeCipherSpec</b></div>
                </td>
                <td></td>
            </tr>
            <tr id="4row10" style="display:none; height: 220px;">
                <td style="max-width: 208px;"><b>Poruka koja obavještava drugi sustav o uspješnom dogovoru i uspješno uspostavljenoj kriptiranoj komunikaciji</b></td>
                <td style="text-align: center;">
                    <span style='font-size:100px;'>&#10230;</span>
                    <div style="font-size: 25px;"><b>Finished</b></div>
                </td>
                <td></td>
            </tr>
            <tr id="4row11" style="display:none; height: 220px;">
                <td></td>
                <td style="text-align: center;">
                    <span style='font-size:100px;'>&#10229;</span>
                    <div style="font-size: 25px;"><b>ChangeCipherSpec</b></div>
                </td>
                <td style="max-width: 208px;"><b>Poruka koja obavještava o početku korištenja ugovorenih sigurnosnih servisa</b></td>
            </tr>
            <tr id="4row12" style="display:none; height: 220px;">
                <td></td>
                <td style="text-align: center;">
                    <span style='font-size:100px;'>&#10229;</span>
                    <div style="font-size: 25px;"><b>Finished</b></div>
                </td>
                <td style="max-width: 208px;"><b>Poruka koja obavještava drugi sustav o uspješnom dogovoru i uspješno uspostavljenoj kriptiranoj komunikaciji</b></td>
            </tr>
            <!-- <tr id="2row10" style="display:none; height: 220px;">
                <td></td>
                <td>
                    <img style="width: 300px; height: 300px;" src="C:\Users\Djuro\Desktop\uspostavaKomunikacije.png" alt="Slika svih koraka uspostave">
                </td>
                <td></td>
            </tr> -->
        </table>
        <img id="4row13" style="margin-left: 14%; display: none; width: 400px; height: 300px;" src="~/Content/ssl_icons/clientAuth.png" alt="Slika svih koraka uspostave">
        <div style="margin-left: 24%;">
            <button onclick="prevStep()"><i class="fas fa-caret-left fa-2x"></i></button>
            <button onclick="nextStep()"><i class="fas fa-caret-right fa-2x"></i></button>
            <button id="autoStepBtn4" onclick="autoSteps()"><i class="far fa-caret-square-right fa-2x"></i></button>
            <button onclick="stopAuto()"><i class="far fa-stop-circle fa-2x"></i></button>
        </div>
    </div>

</div>

</div>

<br>
<br>
<br>

<script>

    var counter;
    var lastStep;
    var stepInterval;

    var currentAnimation;

    function nextStep(){
        stopAuto();

        if(counter >= lastStep){
            return;
        } else {
            $("#"+currentAnimation+"row"+counter).hide();
            counter++;
            $("#"+currentAnimation+"row"+counter).show();
        }
    }

    function prevStep(){
        stopAuto();

        if(counter <= 0){
            return;
        } else {
            $("#"+currentAnimation+"row"+counter).hide();
            counter--;
            $("#"+currentAnimation+"row"+counter).show();
        }
    }

    function autoSteps(){
        $( "#autoStepBtn1" ).prop( "disabled", true );
        $( "#autoStepBtn2" ).prop( "disabled", true );
        $( "#autoStepBtn3" ).prop( "disabled", true );
        $( "#autoStepBtn4" ).prop( "disabled", true );
        stepInterval = setInterval(function(){

            $("#"+currentAnimation+"row"+counter).hide();
            counter++
            $("#"+currentAnimation+"row"+counter).show();

            if(counter >= lastStep) {
                clearInterval(stepInterval);
            }
        }, 2000);
    }

    function stopAuto(){
        $( "#autoStepBtn1" ).prop( "disabled", false );
        $( "#autoStepBtn2" ).prop( "disabled", false );
        $( "#autoStepBtn3" ).prop( "disabled", false );
        $( "#autoStepBtn4" ).prop( "disabled", false );
        clearInterval(stepInterval);
    }


    function startAnim(animIndex){
        switch(animIndex) {
            case 1:
                counter = 0;
                lastStep = 10;
                currentAnimation = 1
                hideAnimBtns();
                $("#animacija"+animIndex).show();
                break;

            case 2:

                hideAnimBtns();
                $("#animacija"+animIndex).show();
                counter = 0;
                lastStep = 10;
                currentAnimation = 2;
                break;

            case 3:
                counter = 0;
                lastStep = 11;
                currentAnimation = 3;
                hideAnimBtns();
                $("#animacija"+animIndex).show();
                break;

            case 4:
                counter = 0;
                lastStep = 13;
                currentAnimation = 4;
                hideAnimBtns();
                $("#animacija"+animIndex).show();
                break;
        }
    }

    function hideAnimBtns(){
        $("#animacijaBtns").hide();
        $("#nazadBtn").show();
    }

</script>